html,body {
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: black;

}

.follower{
    position:absolute;;
    width:50px;
    height:50px;
    /* background-color: black; */
    margin-top: -25px;
    margin-left: -25px;
    pointer-events: none;
    border-radius: 50%;
    opacity: 0;
    animation-name: followLine;
    animation-duration: 0.8s;
}

@keyframes followLine{
    from{
        opacity: 1;
        transform: scale(0);
    }
    to{
        opacity: 0;
        transform: scale(1);
    }
}
